In [1]:
print("hello world")

hello world

## **I love Sethu**

In [2]:
import json
import pandas as pd

In [3]:


lobby = """{
    "Girlfriend" : "Siphosethu",
    "Age" : 23,
    "hobby" : "coding",
    "Profession" : "Facilitator"
}"""

print(lobby)

{
    "Girlfriend" : "Siphosethu",
    "Age" : 23,
    "hobby" : "coding",
    "Profession" : "Facilitator"
}

In [4]:
# Load JSON string into a dictionary
dict_data = json.loads(lobby)
print(dict_data)

{'Girlfriend': 'Siphosethu', 'Age': 23, 'hobby': 'coding', 'Profession': 'Facilitator'}

In [5]:
Bingo = {
    "Girlfriend" : "Siphosethu",
    "Age" : 23,
    "hobby" : "coding",
    "Profession" : "Facilitator" }
print(Bingo)

{'Girlfriend': 'Siphosethu', 'Age': 23, 'hobby': 'coding', 'Profession': 'Facilitator'}

In [6]:
Bingo.keys()

dict_keys(['Girlfriend', 'Age', 'hobby', 'Profession'])

In [ ]:
# Convert the dictionary into a DataFrame
df = pd.DataFrame.from_dict(Bingo, orient= "index", columns= ['Sanele info'])  # Wrap the dictionary in a list
df

            Sanele info
Girlfriend   Siphosethu
Age                  23
hobby            coding
Profession  Facilitator

:

In [6]:
info = """{
"Zuko" : ["63", "61.1"],
"Njinji" : ["49", "58"]
}"""

gm = json.loads(info)
print(gm)

{'Zuko': ['63', '61.1'], 'Njinji': ['49', '58']}

In [7]:



np = pd.DataFrame.from_dict(gm, orient= "index", columns=["Mass", "Height"])
np

       Mass Height
Zuko     63   61.1
Njinji   49     58

In [8]:
ulwazi = """{
"Uzzi" : ["Blue", "S", "Uni"],
"Nike" : ["Black", "M", "Male"],
"Adidas" : ["Navyblue","L", "Female"]

}"""

ekhaya = json.loads(ulwazi)
print(ekhaya)

last = pd.DataFrame.from_dict(ekhaya, orient= "index", columns=["Color", "Size", "Gender"])
last

{'Uzzi': ['Blue', 'S', 'Uni'], 'Nike': ['Black', 'M', 'Male'], 'Adidas': ['Navyblue', 'L', 'Female']}

           Color Size  Gender
Uzzi        Blue    S     Uni
Nike       Black    M    Male
Adidas  Navyblue    L  Female

In [9]:
import pickle

with open("Age.pkl", "rb") as f:
    tt = pickle.load(f)

In [10]:
tt

{'Uzzi': ['Black', 'L'], 'Adidas': ['Red', 'S']}

In [9]:
import numpy as np
import pandas as pd
from scipy import stats

# Data for Group A and Group B
group_a_clicks = 150  # Number of clicks in Group A
group_a_visitors = 1000  # Total visitors in Group A

group_b_clicks = 200  # Number of clicks in Group B
group_b_visitors = 1000  # Total visitors in Group B

# Calculate Click-Through Rate (CTR) for both groups
ctr_a = group_a_clicks / group_a_visitors
ctr_b = group_b_clicks / group_b_visitors

# Print CTR results
print(f"Group A CTR: {ctr_a:.4f}")
print(f"Group B CTR: {ctr_b:.4f}")

# Perform a two-proportion z-test to check if the difference is statistically significant
# H0: p_A = p_B (No difference in CTR)
# H1: p_A != p_B (There is a difference in CTR)

# Calculate the pooled probability
pooled_p = (group_a_clicks + group_b_clicks) / (group_a_visitors + group_b_visitors)

# Calculate the z-statistic
z = (ctr_a - ctr_b) / np.sqrt(pooled_p * (1 - pooled_p) * (1/group_a_visitors + 1/group_b_visitors))

# Calculate the p-value
p_value = stats.norm.sf(abs(z)) * 2  # Two-tailed test

# Print the z-statistic and p-value
print(f"Z-statistic: {z:.4f}")
print(f"P-value: {p_value:.4f}")

# Conclusion based on p-value
alpha = 0.05  # significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference between Group A and Group B.")
else:
    print("Fail to reject the null hypothesis: No statistically significant difference between Group A and Group B.")

Group A CTR: 0.1500
Group B CTR: 0.2000
Z-statistic: -2.9424
P-value: 0.0033
Reject the null hypothesis: There is a statistically significant difference between Group A and Group B.