In [2]:
Brand = {"Uzzi": ["Black", "L"], "Adidas" : ["Red", "S"]}

In [ ]:
#Serialization
import pickle
pickle.dump(Brand, open("Brand.pkl", "wb"))

NameError: name 'pickle' is not defined

In [ ]:
#Deserialization

import pickle

with open("Brand.pkl", "rb") as f:
    tt = pickle.load(f)

In [4]:
tt

{'Uzzi': ['Black', 'L'], 'Adidas': ['Red', 'S']}

In [4]:
import pandas as pd

df = pd.DataFrame.from_dict(Brand, orient="index", columns=["Color", "Size"])
df

        Color Size
Uzzi    Black    L
Adidas    Red    S

In [7]:
df.to_csv("sanele.csv", index=False)

In [8]:
data = pd.read_csv("sanele.csv")
data.head()

   Color Size
0  Black    L
1    Red    S

In [7]:
page = [1,2,3,4,5]
topics = ["Intro", "Welcoming","Body", "Conclusion", "End"]
together = zip(page, topics)
results = list(together)
print(results)

[(1, 'Intro'), (2, 'Welcoming'), (3, 'Body'), (4, 'Conclusion'), (5, 'End')]

In [8]:
import json
import pandas as pd


info = {
   'Names' :["Josta" , "Boyza"],
'Gender' : ["Lesbian" , "Gay"],
  'Eye colour' :  ["Black" , "Brown"]
}

In [9]:
from httpx import head


df = pd.DataFrame.from_dict(info)
df.head()

df.set_index("Names", inplace = True)
df.head()

        Gender Eye colour
Names
Josta  Lesbian      Black
Boyza      Gay      Brown

In [10]:
df.reset_index(inplace=True)
df.head()

   Names   Gender Eye colour
0  Josta  Lesbian      Black
1  Boyza      Gay      Brown

In [1]:
ppl = {"skin color":[ "black","white", "colored"],
       "height": ["short", "tall","short"],
       "hair color": ["blonde", "black", "brown"]
          }

In [2]:
import pickle

pickle.dump(ppl, open("ppl.pkl", "wb"))

In [3]:
with open("ppl.pkl", "rb") as f:
    g = pickle.load(f)

In [4]:
g

{'skin color': ['black', 'white', 'colored'],
 'height': ['short', 'tall', 'short'],
 'hair color': ['blonde', 'black', 'brown']}

In [5]:
import pandas as pd

df = pd.DataFrame.from_dict(ppl)
df

  skin color height hair color
0      black  short     blonde
1      white   tall      black
2    colored  short      brown

In [6]:
df.set_index("skin color", inplace=True)
df

           height hair color
skin color
black       short     blonde
white        tall      black
colored     short      brown