## **Masiqale kwi list siyoqhina kwi zip**

In [ ]:
Area_pms = [243, 233, 140, 230]

price_ZAR = [140000, 130000,56000,138000]

Area_pms.append(215)
price_ZAR.append(100000)

x = zip(Area_pms, price_ZAR)
y = list(x)

print(y)

In [ ]:
for z in y:
    print(z)

In [ ]:
ave_price_ZAR = sum(price_ZAR)/len(price_ZAR)
print(ave_price_ZAR)

In [23]:
import json
import pandas as pd

failed_students = """{
"Student 1" : [ "Nkqo", "Mpepho", "NM92", 33 ],
"student 2" : ["Mapece", "Ngembezi", "MN85", 40],
"student 3" :["NKunku", "Naartjie", "NN95", 30],
"student 4" : ["Amen", "Bethlehem", "AB94", 31]


}"""
cnlc = json.loads(failed_students)

f = pd.DataFrame.from_dict(cnlc, orient= "index", columns= ['Name', 'Surname','Id', 'Age' ])
f

             Name    Surname    Id  Age
Student 1    Nkqo     Mpepho  NM92   33
student 2  Mapece   Ngembezi  MN85   40
student 3  NKunku   Naartjie  NN95   30
student 4    Amen  Bethlehem  AB94   31