In [1]:
import pandas as pd
import json
import matplotlib.pyplot as plt
import plotly.express as px

sethu = {
    "property" : [ "House", "House","House","House" ],
    "location" : ["Johannesburg", "Capetown","Durban", "Egqeberha"],
    "price_ZAR" : [1000000, 2000000, 500000, 1500000],
    "area_m2"  : [118, 56.54, 75, 98 ],
    "lat-lon"  : ["-26.204|28.0473", "12|45","32|23","45|56"]
}

#inserting dataframes 
df2 = pd.DataFrame.from_dict(sethu)
df2

  property      location  price_ZAR  area_m2          lat-lon
0    House  Johannesburg    1000000   118.00  -26.204|28.0473
1    House      Capetown    2000000    56.54            12|45
2    House        Durban     500000    75.00            32|23
3    House     Egqeberha    1500000    98.00            45|56

In [2]:
#inserting a new column
df2 ["price_m2"] = df2 ["price_ZAR"]/ df2["area_m2"]
df2

  property      location  price_ZAR  area_m2          lat-lon      price_m2
0    House  Johannesburg    1000000   118.00  -26.204|28.0473   8474.576271
1    House      Capetown    2000000    56.54            12|45  35373.187124
2    House        Durban     500000    75.00            32|23   6666.666667
3    House     Egqeberha    1500000    98.00            45|56  15306.122449

In [3]:
#splitting a columns

df2[["lat", "lon"]] = df2["lat-lon"].str.split("|", expand=True)
df2

,property,location,price_ZAR,area_m2,lat-lon,price_m2,lat,lon
0,House,Johannesburg,1000000,118.00,-26.204|28.0473,8474.576271,-26.204,28.0473
1,House,Capetown,2000000,56.54,12|45,35373.187124,12,45
2,House,Durban,500000,75.00,32|23,6666.666667,32,23
3,House,Egqeberha,1500000,98.00,45|56,15306.122449,45,56

In [4]:
df2.drop("lat-lon", axis="columns", inplace=True)
df2

  property      location  price_ZAR  area_m2      price_m2      lat      lon
0    House  Johannesburg    1000000   118.00   8474.576271  -26.204  28.0473
1    House      Capetown    2000000    56.54  35373.187124       12       45
2    House        Durban     500000    75.00   6666.666667       32       23
3    House     Egqeberha    1500000    98.00  15306.122449       45       56

In [5]:
df2.dropna(inplace=True)

In [6]:
df2["lat"] = df2.lat.astype("float")
df2["lon"] = df2.lon.astype("float")

In [7]:
fig = px.scatter_map(df2,
lat = "lat",
lon = "lon",
center = { "lat" : -26.204, "lon" : 28.0473},
width = 600,
height = 600,
hover_data = ["price_ZAR"]
)

# Map style and zoom settings
fig.update_layout(map_style = "open-street-map",
mapbox_zoom=3,
)

fig.show()

In [ ]:
info = {
    '2ROOMS' : ["2 adults and 3 children"],
    '3ROOM'  : ["3 adults & 4 children "],
    '4ROOM'   : [ "4 adults & 5 children"],
    '5ROOM'   : [ "5 adults & 6 children"],
    '6ROOM'   : [ "6 adults & 7 children"],


}

df3 = pd.DataFrame.from_dict(info)
df3

In [ ]:
#Dropping columns

df2.drop("property", axis= "columns")

In [ ]:
df = pd.concat([df2,df3])
df

In [ ]:
df.to_csv("cleaned_data.csv", index=False, sep=",")

In [ ]:
df_check = pd.read_csv("cleaned_data.csv")
print(df_check.head())

In [ ]:
df2.drop(2, axis= "index")

In [ ]:
df2.info()

In [ ]:
#Recasting Data 

print(df2.info())
new = df2.astype("str")
print(new.info())

In [50]:
df2["area_m2"] = df2.lat.astype("float")
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   property   4 non-null      object
 1   location   4 non-null      object
 2   price_ZAR  4 non-null      int64
 3   area_m2    4 non-null      float64
 4   price_m2   4 non-null      float64
 5   lat        4 non-null      object
 6   lon        4 non-null      object
dtypes: float64(2), int64(1), object(4)
memory usage: 356.0+ bytes

In [ ]:
df2['price_m2'] = df2.price_m2.astype("int")
df2.info()

In [ ]:
#Access a substring in a Series

df2["location"].str[0:5:2]

In [ ]:
#Determine the unique values in a column

df2["area_m2"].unique

In [ ]:
#Rename a Series

df2.rename(columns={"location" : "loc"})

In [ ]:
#Replacing Column Values

df2["area_m2"].replace(56.54, 55)